// Colors (Nominee used http://chir.ag/projects/name-that-color/)
// Primary

$outer-space: #263238;
$picton-blue: #40dfe4;
$gin: #E8F2EC;
$white: #ffffff;

// Shadow

$shadow-box: rgba(0, 0, 0, .63);